# Publishes PyPI release on v{version} tags
name: Release

on:
  push:
    tags:
      - 'v*'

jobs:
  release:
    name: Release Package to PyPI
    runs-on: ubuntu-latest
    environment: main
    steps:
      - uses: actions/checkout@v4

      - name: Install uv and setup the python version
        uses: astral-sh/setup-uv@v5

      - name: Install the project
        run: uv sync --all-groups

      - name: Build wheel
        run: uv build

      - name: Publish package
        run: uv publish
